.gray {
  border-top: 3px solid #666;
  border-bottom: 3px solid #666;
}

h1 {
    color: #339900;
    margin-right: 20px;
}

h2 {
    margin-top: 20px
}

h3 {
  margin-top: 20px;
  color: #555;
}

h1+span {
    color: #fff;
}

.welcome-message {
   color: #339900;
}

.orange {
    color: #339999;
}